body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;    
}

.inhalt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.abschnitt{
    border: solid 1px lightgrey;
    border-radius: 15px;
    padding: 10px 10px;
    margin: 10px 10px;;
    width: 350px;            
}

.abschnitt:hover{
    background-color: #f3f3f3;
}

a{
    text-decoration: none;
    color: rgb(51, 124, 51);
}

.code{
    text-align: left;
    /* margin-left: 50px; */
}

table, tr, th, td{
    border: solid 1px lightgrey;
    border-collapse: collapse;
    padding: 5px 10px;
}

table{
    width: 600px;
    /*position: relative;
    left: calc(50% - 300px);*/
}

td, .links{
    text-align: left;
}

tr:hover{
    background-color:#f0f0f0;
}

.vertikaler-text{
    writing-mode:sideways-lr;
}

.text{
    width: 500px;
    text-align: left;
    position: relative;
    left: calc(50% - 250px);
}

.kommentar{
    color: rgb(151, 151, 151)
}

.mitte{
    text-align: center;
}

.rechts{
    text-align: end;
}

.kommentar{
    color: #acacac;
}